.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom css */

.design {
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: Rubik, Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  display: flex;
}

.header {
  width: 100%;
  background-color: #0d0d2b;
  flex-direction: column;
  flex-basis: 14%;
  justify-content: center;
  align-items: center;
  margin-right: 56px;
  padding-top: 4px;
  padding-left: 48px;
  display: flex;
}

.flex-container {
  width: 85%;
  flex-direction: row;
  flex-basis: 6%;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 51px;
  display: flex;
}

.logo-1 {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.crappo {
  letter-spacing: 1px;
  margin-top: 1px;
  margin-right: 166px;
  font-family: Inter, Arial;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 22px;
}

.products {
  margin-left: 223px;
}

.login {
  text-align: center;
  margin-top: 1px;
  margin-left: 22px;
  font-weight: 500;
  line-height: 24px;
}

.divider {
  width: 1px;
  height: 24px;
  object-fit: cover;
}

.button-instance {
  height: 100%;
  flex-basis: 11%;
}

.flex-container-1 {
  color: #0d0d2b;
  width: 95%;
  flex-direction: row;
  flex-basis: 81%;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
  margin-left: 2px;
  margin-right: 3px;
  line-height: 76px;
  display: flex;
}

.base {
  height: 10%;
  background-color: #ffffff1a;
  border-radius: 32px;
  flex-direction: row;
  flex-basis: 28%;
  justify-content: space-evenly;
  align-self: flex-start;
  align-items: center;
  margin-top: 80px;
  margin-right: -55px;
  padding-right: 2px;
  line-height: 24px;
  display: flex;
}

.save {
  height: 80%;
  background-color: #fff;
  border-radius: 32px;
  flex-direction: row;
  flex-basis: 31%;
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  font-weight: 500;
  display: flex;
}

.num-75-save {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.for-the-black-friday {
  color: #fff;
  margin-top: 3px;
  margin-left: 6px;
  line-height: 28px;
}

.button-instance-1 {
  height: 10%;
  flex-basis: 15%;
  margin-bottom: 139px;
  margin-left: -11px;
  margin-right: 146px;
}

.buy-and-sell-cryptoc {
  color: #e0e0e0;
  margin-top: 81px;
  margin-left: -21px;
  margin-right: -352px;
  line-height: 28px;
}

.fastest-secure-plat {
  color: #fff;
  z-index: 1;
  margin-right: 900px;
  font-size: 4rem;
  font-weight: 700;
}

.dscthmnxrdant {
  width: 840px;
  height: 380px;
  object-fit: cover;
  background: linear-gradient(90deg, #ffffff0a 0%, #ffffff03 100%);
  align-self: flex-end;
  margin-left: 31px;
  margin-right: -1440px;
}

.illustration {
  z-index: 1;
  width: 604px;
  height: 585px;
  object-fit: cover;
  align-self: flex-start;
  margin-right: 120px;
}

.why-crappo {
  width: 100%;
  background-color: #0d0d2b;
  flex-direction: row;
  flex-basis: 14%;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  font-size: 2.5rem;
  line-height: 60px;
  display: flex;
}

.flex-container-2 {
  color: #e0e0e0;
  height: 90%;
  flex-direction: column;
  flex-basis: 58%;
  justify-content: space-between;
  align-self: flex-end;
  align-items: flex-end;
  line-height: 28px;
  display: flex;
}

.flex-container-3 {
  width: 90%;
  flex-direction: row;
  flex-basis: 11%;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 36px;
  display: flex;
}

.icon-5 {
  width: 80px;
  height: 80px;
  object-fit: cover;
  align-self: flex-start;
}

.flex-container-4 {
  height: 90%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 3px;
  display: flex;
}

.num-30-b {
  color: #fff;
  font-weight: 700;
  line-height: 60px;
}

.digital-currency-exc {
  font-size: 1rem;
}

.icon-4 {
  width: 80px;
  height: 80px;
  object-fit: cover;
  align-self: flex-start;
  margin-left: 64px;
}

.flex-container-5 {
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 3px;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
}

.num-10-m {
  color: #fff;
  margin-left: 1px;
  font-size: 2.5rem;
  line-height: 60px;
}

.trusted-wallets-inve {
  font-weight: 400;
}

.flex-container-6 {
  width: 95%;
  flex-direction: row;
  flex-basis: 75%;
  justify-content: space-between;
  align-self: flex-start;
  align-items: flex-end;
  display: flex;
}

.yeetbkuzjtkfk {
  width: 521px;
  height: 447px;
  object-fit: cover;
  background: linear-gradient(90deg, #fff0 0%, #ffffff1a 100%);
  margin-right: -521px;
}

.illustrations {
  z-index: 1;
  width: 650px;
  height: 473px;
  object-fit: cover;
  align-self: flex-start;
}

.flex-container-7 {
  height: 85%;
  flex-direction: column;
  flex-basis: 42%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
}

.flex-container-8 {
  width: 80%;
  flex-direction: row;
  flex-basis: 37%;
  justify-content: space-between;
  align-self: flex-end;
  align-items: stretch;
  margin-left: 26px;
  display: flex;
}

.icon-3 {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.flex-container-9 {
  height: 30%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 16px;
  margin-left: 8px;
  display: flex;
}

.num-195 {
  font-size: 2.5rem;
}

.countries-supported {
  color: #e0e0e0;
  margin-bottom: -1px;
  font-weight: 400;
  line-height: 28px;
}

.fatupxjfrzstt {
  width: 185px;
  height: 195px;
  object-fit: cover;
  background: linear-gradient(30deg, #ffffff14 0%, #35068c03 100%);
  align-self: flex-end;
}

.why-you-should-choos {
  margin-bottom: 9px;
  margin-left: 1px;
  font-size: 2.5rem;
}

.experience-the-next {
  color: #e0e0e0;
  margin-top: 3px;
  margin-bottom: 7px;
  margin-left: 1px;
  font-weight: 400;
  line-height: 28px;
}

.flex-container-10 {
  width: 100%;
  flex-direction: row;
  flex-basis: 24%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 4px;
  display: flex;
}

.button-instance-2 {
  height: 35%;
  flex-basis: 24%;
}

.lgsbdbpmvgywp {
  width: 154px;
  height: 120px;
  object-fit: cover;
  background: linear-gradient(30deg, #ffffff14 6.25%, #fff0 100%);
  align-self: flex-end;
}

.trade-securely {
  width: 100%;
  background: linear-gradient(90deg, #f8f9fb 0%, #fafbff 100%);
  flex-direction: column;
  flex-basis: 25%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
  font-weight: 500;
  line-height: 48px;
  display: flex;
}

.bg {
  width: 100%;
  background-color: #0d0d2b;
  flex-direction: column;
  flex-basis: 31%;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-left: 33px;
  padding-right: 33px;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  display: flex;
}

.check-how-much-you-c {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 39px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 60px;
}

.lets-check-your-hash {
  text-align: center;
  color: #e0e0e0;
  margin-bottom: 68px;
  font-size: 1.125rem;
  line-height: 27px;
}

.base-1 {
  color: #0d0d2b;
  width: 70%;
  background-color: #fbfcfe;
  border-radius: 16px 16px 0 0;
  flex-direction: row;
  flex-basis: 34%;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10px;
  padding-top: 1px;
  padding-bottom: 2px;
  display: flex;
}

.flex-container-11 {
  height: 20%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 8px;
  display: flex;
}

.enter-your-hash-rate {
  margin-left: 2px;
}

.form-1 {
  width: 403px;
  height: 1px;
  object-fit: cover;
  border: 1px solid #e0e0e0;
}

.flex-container-12 {
  height: 25%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8px;
  display: flex;
}

.flex-container-13 {
  width: 100%;
  flex-direction: row;
  flex-basis: 56%;
  justify-content: space-between;
  align-items: stretch;
  margin-left: 9px;
  margin-right: -142px;
  display: flex;
}

.t-hs {
  align-self: flex-end;
}

.icon-arrow-down {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.form-2 {
  width: 200px;
  height: 1px;
  object-fit: cover;
  border: 1px solid #e0e0e0;
}

.button-instance-3 {
  height: 40%;
  flex-basis: 16%;
  margin-top: 1px;
  margin-bottom: 1px;
}

.base-2 {
  color: #0d0d2b;
  width: 70%;
  background-color: #fff;
  border: 2px solid;
  border-radius: 0 0 16px 16px;
  flex-direction: column;
  flex-basis: 14%;
  justify-content: space-evenly;
  align-items: stretch;
  margin-bottom: 26px;
  margin-left: 33px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 49px;
  line-height: 28px;
  display: flex;
}

.estimated-24-hour-re {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #3671e9;
  margin-top: 7px;
  line-height: 24px;
}

.num-0055-130-59-eth-1 {
  letter-spacing: 1px;
  margin-top: 1px;
  margin-left: 1px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 48px;
}

.revenue-will-change {
  color: #828282;
  margin-bottom: 9px;
  font-weight: 400;
}

.trade-securely-and-m {
  text-align: center;
  color: #0d0d2b;
  margin-top: 9px;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 60px;
}

.flex-container-14 {
  text-align: center;
  width: 85%;
  flex-direction: row;
  flex-basis: 29%;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
  margin-left: 12px;
  display: flex;
}

.base-3 {
  height: 100%;
  background-color: #2b076e;
  border-radius: 16px;
  flex-direction: column;
  flex-basis: 31%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 28px;
  display: flex;
}

.icon {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-top: 1px;
  margin-bottom: 15px;
}

.flex-container-15 {
  width: 45%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
  margin-left: 5px;
  font-size: 1.125rem;
  line-height: 27px;
  display: flex;
}

.bitcoin {
  font-size: 2rem;
  font-weight: 700;
  line-height: 48px;
}

.btc {
  margin-top: 1px;
}

.digital-currency-in {
  font-weight: 400;
}

.button-instance-4 {
  width: 60%;
  flex-basis: 15%;
  margin-bottom: 5px;
  margin-left: 10px;
}

.base-4 {
  color: #bdbdbd;
  height: 100%;
  background-color: #fff;
  border-radius: 16px;
  flex-direction: column;
  flex-basis: 31%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 1px;
  font-size: 1.125rem;
  font-weight: 400;
  display: flex;
}

.icon-2 {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-top: 2px;
  margin-bottom: 16px;
}

.flex-container-16 {
  width: 55%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-left: 2px;
  font-weight: 700;
  display: flex;
}

.ethereum {
  color: #0d0d2b;
  font-size: 2rem;
}

.eth {
  margin-top: 1px;
  font-weight: 500;
  line-height: 27px;
}

.blockchain-technolog {
  color: #828282;
  font-size: 1rem;
  line-height: 28px;
}

.arrow-right-1 {
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin-bottom: 6px;
}

.base-5 {
  color: #0d0d2b;
  height: 100%;
  background-color: #fff;
  border-radius: 16px;
  flex-direction: column;
  flex-basis: 31%;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 3px;
  display: flex;
}

.icon-1 {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-top: 2px;
  margin-bottom: 15px;
}

.flex-container-17 {
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-left: 9px;
  font-size: 1.125rem;
  display: flex;
}

.litecoin {
  font-size: 2rem;
  font-weight: 700;
}

.ltc {
  color: #bdbdbd;
  margin-top: 1px;
  line-height: 27px;
}

.cryptocurrency-that {
  color: #828282;
  font-weight: 400;
  line-height: 28px;
}

.arrow-right {
  width: 64px;
  height: 64px;
  object-fit: cover;
  margin-bottom: 6px;
}

.features {
  width: 100%;
  background-color: #2b076e;
  flex-direction: column;
  flex-basis: 31%;
  justify-content: space-between;
  align-items: center;
  margin-right: 328px;
  font-weight: 700;
  display: flex;
}

.flex-container-18 {
  text-align: center;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 338px;
  font-size: 2.5rem;
  line-height: 60px;
  display: flex;
}

.hmcodxliigxpb {
  background: (
    conic-gradient(from 180deg at 50% 50%, #ffffff29 0deg, #fff0 360deg) ;;
      width: 686px; height: 229px; object-fit: cover;}
  );
}

.market-sentiments-po {
  z-index: 1;
}

.flex-container-19 {
  width: 80%;
  flex-direction: row;
  flex-basis: 23%;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 9px;
  font-family: Inter, Arial;
  display: flex;
}

.flex-container-20 {
  height: 50%;
  flex-direction: column;
  flex-basis: 35%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 52px;
  font-family: Rubik, Arial;
  display: flex;
}

.invest-smart {
  margin-bottom: 3px;
  margin-left: 2px;
  font-size: 2rem;
  line-height: 48px;
}

.get-full-statistic-i {
  color: #e0e0e0;
  align-self: flex-end;
  margin-top: 2px;
  font-weight: 400;
}

.button-instance-5 {
  width: 45%;
  flex-basis: 29%;
}

.flex-container-21 {
  height: 100%;
  flex-direction: column;
  flex-basis: 51%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  display: flex;
}

.rectangle-74 {
  color: #cfcfcf;
  width: 100%;
  background-color: #35068c;
  border-radius: 16px;
  flex-direction: column;
  flex-basis: 70%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: -55px;
  padding: 2px 11px 10px;
  font-size: 0.875rem;
  line-height: 17px;
  display: flex;
}

.flex-container-22 {
  width: 90%;
  flex-direction: row;
  flex-basis: 16%;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
  margin-left: 1px;
  display: flex;
}

.group-171 {
  width: 40px;
  height: 40px;
  object-fit: cover;
  align-self: flex-start;
}

.flex-container-23 {
  color: #f2f2f2;
  height: 95%;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  align-items: stretch;
  margin-top: 3px;
  margin-bottom: -1px;
  display: flex;
}

.bitcoin-1 {
  color: #fff;
  margin-left: 1px;
  font-size: 1.5rem;
  line-height: 29px;
}

.num-000080-btc {
  font-weight: 400;
}

.btc-1 {
  align-self: flex-start;
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
}

.num-125 {
  text-align: right;
  color: #42ffff;
  margin-bottom: 2px;
  margin-left: 179px;
  font-weight: 500;
}

.group-111 {
  width: 500px;
  height: 136px;
  object-fit: cover;
  margin-bottom: 4px;
}

.rectangle-37 {
  z-index: 1;
  width: 35%;
  background-color: #491f98;
  border-radius: 16px;
  flex-direction: column;
  flex-basis: 43%;
  justify-content: space-evenly;
  align-self: flex-start;
  align-items: stretch;
  margin-bottom: -172px;
  padding-top: 5px;
  padding-left: 17px;
  font-weight: 400;
  display: flex;
}

.increase-in-trade {
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 1.25rem;
  font-weight: 600;
}

.flex-container-24 {
  width: 55%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  margin-left: 1px;
  font-weight: 700;
  line-height: 29px;
  display: flex;
}

.num-75 {
  margin-bottom: 1px;
}

.arrow-up {
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.sell-option {
  color: #f2f2f2;
  margin-bottom: 1px;
  font-size: 1rem;
  line-height: 19px;
}

.rectangle-32 {
  text-align: center;
  z-index: 1;
  width: 30%;
  background-color: #491f98;
  border-radius: 16px;
  flex-direction: column;
  flex-basis: 20%;
  justify-content: space-evenly;
  align-self: flex-end;
  align-items: center;
  margin-top: -44px;
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 1px;
  line-height: 29px;
  display: flex;
}

.num-1532 {
  margin-top: 2px;
}

.price-in-dollar {
  color: #f2f2f2;
  margin-bottom: 2px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
}

.flex-container-25 {
  width: 85%;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 13px;
  padding-right: 1px;
  font-size: 2rem;
  display: flex;
}

.rectangle-75 {
  width: 710px;
  height: 453px;
  object-fit: cover;
  border-radius: 16px;
}

.flex-container-26 {
  height: 55%;
  flex-direction: column;
  flex-basis: 34%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 14px;
  display: flex;
}

.detailed-statistics {
  margin-bottom: 2px;
  margin-left: 4px;
  line-height: 48px;
}

.view-all-mining-rela {
  color: #e0e0e0;
  align-self: flex-end;
  margin-top: 1px;
  font-size: 1rem;
  font-weight: 400;
}

.button-instance-6 {
  width: 45%;
  flex-basis: 25%;
}

.flex-container-27 {
  color: #f2f2f2;
  width: 95%;
  flex-direction: row;
  flex-basis: 23%;
  justify-content: space-between;
  align-self: flex-end;
  align-items: stretch;
  margin-top: 5px;
  margin-left: 48px;
  font-weight: 400;
  display: flex;
}

.flex-container-28 {
  color: #fff;
  height: 70%;
  flex-direction: column;
  flex-basis: 32%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 21px;
  display: flex;
}

.grow-your-profit-and {
  align-self: flex-end;
  font-size: 2rem;
  font-weight: 700;
  line-height: 48px;
}

.use-advanced-analyti {
  color: #e0e0e0;
  margin-bottom: 1px;
  margin-left: 1px;
}

.button-instance-7 {
  width: 40%;
  flex-basis: 21%;
  margin-top: 1px;
}

.flex-container-29 {
  height: 100%;
  flex-direction: row;
  flex-basis: 61%;
  justify-content: space-between;
  align-items: center;
  font-family: Inter, Arial;
  line-height: 19px;
  display: flex;
}

.rectangle-76 {
  z-index: 1;
  height: 20%;
  background-color: #4610ad;
  border-radius: 16px;
  flex-direction: row;
  flex-basis: 76%;
  justify-content: space-evenly;
  align-items: center;
  margin-right: -412px;
  padding-right: 9px;
  display: flex;
}

.logo-ethereum {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.flex-container-30 {
  color: #fff;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 1px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
}

.eth-1 {
  font-size: 1.25rem;
}

.ethereum-1 {
  color: #f2f2f2;
  font-weight: 400;
  line-height: 19px;
}

.num-15683 {
  margin-left: 11px;
}

.group-97 {
  width: 16px;
  height: 16px;
  object-fit: cover;
  margin-left: 20px;
}

.num-09 {
  color: #ff7676;
  margin-bottom: 1px;
}

.num-1812350 {
  margin-left: 37px;
}

.base-6 {
  z-index: 1;
  height: 80%;
  background-color: #35068c;
  border-radius: 16px;
  flex-direction: row;
  flex-basis: 76%;
  justify-content: space-around;
  align-self: flex-start;
  align-items: center;
  margin-right: -199px;
  padding: 1px 7px 2px 10px;
  display: flex;
}

.flex-container-31 {
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 17px;
  margin-left: 1px;
  display: flex;
}

.group-17,
.logolite {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.flex-container-32 {
  height: 65%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 18px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
}

.btc-2 {
  color: #fff;
  font-size: 1.25rem;
}

.bitcoin-2 {
  margin-bottom: 82px;
  font-weight: 400;
  line-height: 19px;
}

.ltc-1 {
  color: #fff;
  margin-top: 28px;
  font-size: 1.25rem;
}

.litecoin-1 {
  font-weight: 400;
  line-height: 19px;
}

.flex-container-33 {
  height: 75%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1px;
  margin-bottom: 13px;
  margin-left: 9px;
  display: flex;
}

.price {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 17px;
}

.num-6750 {
  margin-bottom: 62px;
}

.num-8535 {
  margin-top: 31px;
  margin-bottom: -1px;
}

.flex-container-34 {
  color: #8fffbe;
  height: 75%;
  flex-direction: column;
  flex-basis: 11%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 2px;
  margin-bottom: 11px;
  margin-left: 17px;
  display: flex;
}

.change {
  color: #fff;
  margin-left: 1px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 17px;
}

.flex-container-35 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 63px;
  display: flex;
}

.group-96 {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.num-73 {
  margin-right: -26px;
}

.flex-container-36 {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  display: flex;
}

.group-98 {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.flex-container-37 {
  height: 75%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 2px;
  margin-bottom: 12px;
  margin-left: 18px;
  display: flex;
}

.volume-24-h {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 17px;
}

.num-3420214 {
  margin-bottom: 64px;
  margin-left: 1px;
}

.num-5820399 {
  margin-top: 32px;
  margin-left: 1px;
}

.pqdkyzzznjnmk {
  background: (
    conic-gradient(from 180deg at 50% 50%, #ffffff1a 0deg, #fff0 360deg) ;;
      width: 319px; height: 335px; align-self: flex-end; object-fit: cover;}
  );
}

.start-mining {
  width: 100%;
  background: linear-gradient(90deg, #2b076e 0%, #0d0d2b 100%);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 360px;
  padding-left: 35px;
  padding-right: 80px;
  font-size: 2rem;
  display: flex;
}

.tilmnnpjdvkrm {
  z-index: 1;
  width: 849px;
  height: 392px;
  object-fit: cover;
  background: linear-gradient(90deg, #fff0 0%, #ffffff4d 100%);
}

.base-7 {
  z-index: 1;
  height: 60%;
  background-color: #3671e9;
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 9px;
  margin-right: -138px;
  display: flex;
}

.cat-absolute-container {
  z-index: 1;
  width: 100%;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -216px;
  padding-top: 5px;
  display: flex;
}

.flex-container-38 {
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1px;
  margin-bottom: 2px;
  margin-right: 29px;
  font-weight: 700;
  display: flex;
}

.start-mining-now {
  line-height: 48px;
}

.join-now-with-crappo {
  font-size: 1rem;
  font-weight: 400;
}

.flex-container-39 {
  height: 15%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 10px;
  margin-left: 66px;
  font-size: 1rem;
  display: flex;
}

.enter-your-email {
  margin-left: 1px;
}

.form {
  width: 374px;
  height: 1px;
  object-fit: cover;
  border: 1px solid #fff;
}

.button-instance-8 {
  height: 30%;
  flex-basis: 13%;
  margin-bottom: 11px;
}

.mask-group {
  width: 1200px;
  height: 216px;
  object-fit: cover;
}

.jyqpjjspmzqzo {
  width: 849px;
  height: 392px;
  object-fit: cover;
  background: linear-gradient(90deg, #fff0 0%, #ffffff4d 100%);
  margin-left: -69px;
}

.footer {
  width: 100%;
  background-color: #0d0d2b;
  flex-direction: row;
  flex-basis: 9%;
  justify-content: space-evenly;
  align-items: center;
  padding: 11px 9px 13px;
  line-height: 38px;
  display: flex;
}

.flex-container-40 {
  height: 75%;
  flex-direction: column;
  flex-basis: 18%;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 3px;
  margin-bottom: 6px;
  margin-left: 2px;
  font-family: Inter, Arial;
  font-weight: 600;
  line-height: 22px;
  display: flex;
}

.flex-container-41 {
  width: 55%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
  display: flex;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.crappo-1 {
  letter-spacing: 1px;
  margin-top: 1px;
}

.num-2021-crappo-all-r {
  align-self: flex-end;
  font-family: Rubik, Arial;
  font-weight: 400;
  line-height: 28px;
}

.flex-container-42 {
  color: #f2f2f2;
  height: 45%;
  flex-direction: column;
  flex-basis: 7%;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 84px;
  font-size: 1.25rem;
  display: flex;
}

.quick-link {
  color: #fff;
  align-self: flex-end;
  font-weight: 500;
  line-height: 30px;
}

.home-products-about {
  font-size: 1rem;
}

.flex-container-43 {
  color: #e0e0e0;
  height: 45%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 84px;
  margin-left: 29px;
  display: flex;
}

.resources {
  color: #fff;
  margin-left: 1px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 30px;
}

.download-whitepapper {
  margin-bottom: -1px;
}

.flex-container-44 {
  height: 70%;
  flex-direction: column;
  flex-basis: 25%;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1px;
  margin-left: 30px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 48px;
  display: flex;
}

.we-accept-following {
  align-self: flex-start;
  margin-left: 1px;
}

.flex-container-45 {
  width: 95%;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  align-items: stretch;
  margin-bottom: 59px;
  display: flex;
}

.visa,
.mastercard,
.bitcoin-3 {
  width: 96px;
  height: 64px;
  object-fit: cover;
}

.socials {
  width: 248px;
  height: 24px;
  object-fit: cover;
  margin-top: 30px;
}
